{% block ewz_recaptcha_widget %}
{% spaceless %}
    {% if form.vars.ewz_recaptcha_enabled %}
        {% if attr.options is defined %}
            <script type="text/javascript">
                var RecaptchaOptions = {{ attr.options|json_encode|raw }}
            </script>
        {% endif %}
        <script src="{{ form.vars.url_challenge }}" type="text/javascript"></script>
        <div class="g-recaptcha" data-sitekey="{{ form.vars.public_key }}"></div>
    {% endif %}
{% endspaceless %}
{% endblock ewz_recaptcha_widget %}

